<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<a th:href ="@{/}">Home</a>
<form th:action="@{/addbooktype}" th:object="${book}" method="post">
    <div class = "container">
        <h2>Adding a new category</h2>
        <p>Please fill in to add a new category of books:</p>
        <hr>
        <label for="typeName"><b>Category Name</b></label>
        <input th:field="*{typeName}" id="typeName" type="text" placeholder="Title" required>
        <button type="submit" class="register-button">Add</button>
    </div>
</form>
</body>
</html>